.cobble {
  margin-top: 24px;
  padding: 24px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: $gray;

  &:first-child {
    margin-top: 0;
  }
}

.cobble__list {
  margin-top: 40px;
}
