.form-section {
  padding-top: 32px;
  padding-bottom: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}

.form-section__main-content {
  width: 100%;
  padding: 0 24px;
  box-sizing: border-box;
}

.form-section__subtitle {
  font-size: 18px;
  line-height: 32px;
  color: rgba(20, 20, 20, 0.64);
}

.form-section--head .form-section__title {
  font-size: 30px;
  line-height: 36px;
}

.form-section__visual-wrapper {
  margin-top: 40px;
  padding-bottom: 24px;
  width: 100%;

  position: relative;
}

.form-section__visual-wrapper-img {}

.form-section--gray {
  padding-top: 56px;
  background-color: $gray;
}

@media (min-width: $tablet-width) {

  .form-section {
    padding: 80px 0px;
  }

  .form-section__main-content {
    padding: 0 64px;
  }

  .form-section__title {
    font-size: 38px;
    line-height: 55px;
  }

  .form-section__subtitle {
    font-size: 26px;
    line-height: 40px;
  }

  .form-section--head .form-section__title {
    font-size: 60px;
    line-height: 90px;
  }

}
