.fp-toggle-list {
  @include reset-list;
}

.fp-toggle-list__item {
  margin-top: 48px;

  &:first-child {
    margin-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .fp-toggle-list__item {
    max-width: 360px;
    width: 100%;
    margin-top: 48px;
    margin-left: 80px;

    &:first-child {
      margin-top: 48px;
      margin-left: 0;
    }
  }

  .fp-toggle-list {
    display: flex;
    flex-wrap: wrap;
  }
}
