
.fp-toggle {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &:first-child {
    margin-top: 0;
  }
}

.fp-toggle__visual {
  width: 80px;
  height: 80px;
}

.fp-toggle__feature-preview {
  margin-top: 24px;
}
