.m-drawer__content {
  width: 100%;
}

.m-drawer__content-toggle {
  position: relative;
  z-index: 9;

  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  vertical-align: middle;
  box-sizing: border-box;

  background-color: white;
  border: none;
  border-bottom: 1px solid $gray-border;
}

.m-drawer__content-toggle--border-top {
  border-top: 1px solid $gray-border;
}

.m-drawer__icon {
  position: absolute;
  top: 40%;
  right: 24px;
}

.m-drawer__link {
  z-index: -3;

}

.m-drawer__text {
  z-index: -3;
}

.m-drawer__text--bold {
  font-weight: 600;
}

.opened .m-drawer__content {
  display: block;
}

.closed .m-drawer__content {
  display: none;
}
