.main-section {
  padding: 56px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}

.main-section__title {
  font-size: 26px;
  line-height: 40px;
}

.main-section__subtitle {
  font-size: 16px;
  line-height: 24px;
  color: rgba(20, 20, 20, 0.64);
}

.main-section__list {
  margin-top: 48px;
}

@media (min-width: $tablet-width) {
  .main-section {
    padding: 80px 64px;
  }

  .main-section__title {
    font-size: 50px;
    line-height: 64px;
  }


  .main-section__subtitle {
    font-size: 22px;
    line-height: 32px;
  }
}

@media (min-width: 920px) {
  .main-section__list {
    margin-top: 80px;
  }
}
