.object-list {
  @include reset-list;

}

.object-list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.object-list__title {
  font-size: 22px;
  line-height: 32px;
}

.object-list__text {
  color: rgba(20, 20, 20, 0.64);
}

@media (min-width: $tablet-width) {
  .object-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .object-list__item {
    width: 40%;
  }

  .object-list__title {
    font-size: 38px;
    line-height: 55px;
  }

  .object-list__text {
    font-size: 18px;
    line-height: 32px;
  }
}
