.page-header {

  display: flex;
  justify-content: center;

  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;

  background-color: white;
}

.page-header__content {
  padding: 17px 24px 17px 24px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  box-sizing: border-box;
  border-bottom: 1px solid $gray-border;
}

.page-header__menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 74px);

  position: fixed;
  top: 74px;
  left: 0;
  z-index: 10;

  background-color: white;
}

.closed .page-header__menu {
  display: none;
}

.opened .page-header__menu {
  display: flex;
}

@media (min-width: $tablet-width) {
  .page-header {
    padding-left: 64px;
    padding-right: 64px;
  }
}
