.page-header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;

  display: flex;
  justify-content: center;

  background-color: white;
}

.page-header__content {
  padding: 17px 24px 17px 24px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  box-sizing: border-box;
  border-bottom: 1px solid $gray-border;
}

.page-header__menu {
  display: flex;
  flex-direction: column;

  background-color: white;
}

.page-header__menu--small {
  position: fixed;
  top: 74px;
  left: 0;
  z-index: 10;

  width: 100%;
  height: calc(100vh - 74px);
}


.closed .page-header__menu {
  display: none;
}

.opened .page-header__menu--small {
  display: flex;
}

.page-header__menu--large {
  display: none;
}

@media (min-width: 630px) {
  .page-header {
    position: static;

    background-color: transparent;
  }

  .page-header__list {
    @include reset-list;

    display: flex;
  }

  .page-header__item {
    &:last-child{
      margin-left: 40px;
    }

  }

  .page-header__menu {
    display: none;

    background-color: transparent;

    &--small {
      display: none;
    }

    &--large {
      display: flex;
    }
  }

  .page-header__menu-toggle--m {
   display: none;
  }

  .page-header__item--has-menu {
    position: relative;
  }

  .opened .page-header__menu--small {
    display: none;
  }

  .closed .page-header__menu--large {
   display: flex;
  }

  .closed .page-header__item-menu {
    display: none;
  }

  .opened .page-header__item-menu {
    display: block;
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 30;

    width: 305px;
    border-radius: 32px;
    transform: translate(-50%,10px);
    overflow: hidden;

    background-color: white;
    box-shadow: 0 12px 16px 0 rgba(237, 242, 251, 0.71);
    pointer-events: none;
    transition: all .3s cubic-bezier(.22,.61,.36,1);
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    padding-left: 64px;
    padding-right: 64px;
  }
}
